html {
    scroll-behavior: smooth;
}

.portfolio, .about, .contact, .service{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 160px;
}

.jumbotron {
    background-image: url('/syukurdesign/img/jumbotron7.jpg');
    background-size: cover;
    height: 650px;
    margin-top: 50px;
}

.jumbotron .display-4{
    margin-top: 150px;
    margin-left: 520px;
    font-size: 42px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0);
    font-weight: bold;
}

.jumbotron .lead{
    margin-left: 520px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 10);

}

.jumbotron hr{
    margin-left: 520px;
    width: 600px;
}

.jumbotron .btn{
    margin-left: 520px;
    shadow: 1px 1px 1px rgba(0, 0, 0, 10);
}

.card {
    width: 20rem;
    margin-top: -120px;
    margin-left: 50px;
    border-radius: 12px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}

.card .display-4{
    font-size: 35px;
}

hr{
    width: 100px;
    border-top: 3px solid #eaeaea;
    margin-top: -55px;
}

.col-md-3 img{
    margin-left: 70px;
    margin-top: -20px;
}

.teknologi{
    background-color: #cce3ff;

}